/* Reset CSS */
/* 
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}
@font-face {
	font-family: 'Inter Regular';
	src: url('../fonts/Inter-Regular.woff2') format('woff2'),
			url('../fonts/Inter-Regular.woff') format('woff'),
			url('../fonts/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter Bold';
	src: url('../fonts/Inter-Bold.woff2') format('woff2'),
			url('../fonts/Inter-Bold.woff') format('woff'),
			url('../fonts/Inter-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter Extra Bold';
	src: url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
			url('../fonts/Inter-ExtraBold.woff') format('woff'),
			url('../fonts/Inter-ExtraBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
/* Mobile: 375px | Desktop: 1440px */
/* Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens. */
/* General */
:root {
	/* Primary */
	--soft-orange: hsl(35, 77%, 62%);
	--soft-red: hsl(5, 85%, 63%);
	/* Neutral */
	--off-white: hsl(36, 100%, 99%);
	--grayish-blue: hsl(233, 8%, 79%);
	--dark-grayish-blue: hsl(236, 13%, 42%);
	--very-dark-blue: hsl(240, 100%, 5%);
}
body {
	font-size: 15px;
	font-family: 'Inter Regular';
}
.first-page-wrapper {
	padding: 35px 20px 20px 20px;
}
nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 40px;
}
.nav-list {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	width: 70%;
	height: 100vh;
	z-index: 100;
	background-color: var(--off-white);
	flex-direction: column;
	display: none;
}
.nav-list img {
	width: 35px;
	display: flex;
	align-self: end;
	padding: 15px 30px 60px 0;
}
.nav-list img:hover {
	cursor: pointer;
}
.nav-list a {
	font-family: 'Inter Bold';
	font-size: 20px;
	text-decoration: none;
	color: var(--very-dark-blue);
	padding-left: 30px;
	padding-top: 30px;
}
.nav-list a:hover {
	color: var(--soft-orange);
}
.sidebar-overlay-settings {
	margin: 0 !important;
	height: 100% !important;
	overflow: hidden !important;
}
.web-three-img {
	width: 100%;
}
.main-article h1 {
	font-family: 'Inter Extra Bold';
	font-size: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 1.2;
}
.main-article p {
	font-size: 18px;
	line-height: 1.3;
}
.main-article button {
	font-family: 'Inter Bold';
	font-size: 16px;
	letter-spacing: 3px;
	text-transform: uppercase;
	background-color: var(--soft-red);
	color: var(--very-dark-blue);
	border: none;
	padding: 15px 35px;
	margin: 25px 0 60px 0;
}
.main-article button:hover {
	background-color: var(--very-dark-blue);
	color: var(--off-white);
	cursor: pointer;
}
.new-news {
	background-color: var(--very-dark-blue);
	color: var(--off-white);
	padding: 30px 20px;
	margin-bottom: 60px;
}
.new-news h2 {
	color: var(--soft-orange);
	font-family: 'Inter Extra Bold';
	font-size: 30px;
	padding-bottom: 20px;
}
.new-news-list div {
	border-bottom: 1px solid var(--off-white);
	padding: 15px 0 40px 0;
}
.new-news-list div:nth-child(3) {
	border-bottom: none !important;
}
.new-news-list h3 {
	font-family: 'Inter Bold';
	font-size: 22px;
	padding-bottom: 15px;
}
.new-news-list h3:hover {
	color: var(--soft-orange);
	cursor: pointer;
}
.new-news-list p {
	font-family: 'Inter Regular';
	line-height: 1.3;
	color: var(--grayish-blue);
}
.list-of-articles {
	margin-bottom: 60px;
}
.list-of-articles .article {
	display: flex;
	margin-bottom: 30px;
}
.list-of-articles .article img {
	width: 100px;
	height: auto;
	padding-right: 20px;
}
.article .info h3 {
	font-family: 'Inter Bold';
	font-size: 30px;
	color: var(--soft-red);
	padding-bottom: 10px;
}
.article .info h4 {
	font-family: 'Inter Bold';
	font-size: 18px;
	padding-bottom: 10px;
}
.article .info h4:hover {
	color: var(--soft-red);
	cursor: pointer;
}
.article .info p {
	line-height: 1.3;
}
@media screen and (min-width: 900px) {
	#hamburger-icon {
		display: none !important;
	}
	.nav-list {
		display: flex !important;
		position: inherit !important;
		flex-direction: row !important;
		justify-content: end !important;
		height: auto !important;
	}
	.nav-list a {
		padding-top: 10px !important;
		font-size: 16px !important;
	}
	.nav-list img {
		display: none;
	}
}
@media screen and (min-width: 1000px) {
	nav, main {
		max-width: 1400px;
		margin: 0 auto;
	}
	.main-article {
		grid-area: main-article;
	}
	.new-news {
		grid-area: new-news;
	}
	.list-of-articles {
		grid-area: list-of-articles;
		display: flex !important;
		flex-direction: row !important;
	}
	main {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: "main-article main-article new-news"
												 "list-of-articles list-of-articles list-of-articles";
	}
}